<div class="container mt-5 bg-dark p-3" style="border-radius: 5px;">
        
       <h3 class="text-info">
         <p>Kablovski Operater pruža mogućnost zaključivanja ugovora sa korisnicima iz cele Srbije. Korisnik sam bira željeni paket iz ponuuđenih kategorija. Registracijom na datu formu, korisnik se ubacuje u bazu podataka. Svakim sledećim pristupom korisnik se prijavljuje na formu za prijavljivanje za već postojeće korisnike. Naši radnici u najkaraćem mogućem roku uvažavaju i ispunjavaju zahteve korisnika.</p>
         <p>Kontakt telefon: 011/7898-2998;</p>
         <p>Adresa: Lole Ribara br.14, 11 000 Beograd</p>
         <p><img src="about.png" alt=""></p>
        </h3>
     </div>