<div class="container">

  <div class="row">
      <div class="col-lg-12">
          <h1 class="page-header">
              Dobrodošli na portal ‚MetHotels
          </h1>
      </div>
      <div class="col-md-4">
          <div class="panel panel-default">
              <div class="panel-heading">
                  <h4><i class="fa fa-fw fa-check"></i> Najbolji asortiman soba</h4>
              </div>
              <div class="panel-body">
                  <p>Na našem portalu možete pronaći najbolji asortiman soba. Nudimo najbolje cene i uslove.</p>
                  <a href="#" class="btn btn-default">Opširnije</a>
              </div>
          </div>
      </div>
      <div class="col-md-4">
          <div class="panel panel-default">
              <div class="panel-heading">
                  <h4><i class="fa fa-fw fa-gift"></i> Najbolje cene</h4>
              </div>
              <div class="panel-body">
                  <p>Mi zaista imamo najbolje cene. Dajemo popuste penzionerima, trudnicama, porodiljama, osobama za invaliditetom. </p>
                  <a href="#" class="btn btn-default">Opširnije</a>
              </div>
          </div>
      </div>
      <div class="col-md-4">
          <div class="panel panel-default">
              <div class="panel-heading">
                  <h4><i class="fa fa-fw fa-compass"></i> Uvek sa vama!</h4>
              </div>
              <div class="panel-body">
                  <p>MetHotels pored izdavanja soba na željeno vreme, nudi i rad osoblja od 24h dnevno.  Uz Vas 24h dnevo, MetHotels!</p>
                  <a href="#" class="btn btn-default">Opširnije</a>
              </div>
          </div>
      </div>
  </div>
  <!-- /.row -->

  <div class="row">
      <div class="col-lg-12">
          <h2 class="page-header">Izdvajamo iz ponude</h2>
      </div>
      <div class="col-md-4 col-sm-6">
          <a href="#">
              <img class="img-responsive img-portfolio img-hover" src="2.jpg" alt="">
          </a>
      </div>
      <div class="col-md-4 col-sm-6">
          <a href="#">
              <img class="img-responsive img-portfolio img-hover" src="3.jpg" alt="">
          </a>
      </div>
      <div class="col-md-4 col-sm-6">
          <a href="#">
              <img class="img-responsive img-portfolio img-hover" src="5.jpg" alt="">
          </a>
      </div>
  </div>
  <!-- /.row -->

  <hr>

  <!-- Footer -->
  <footer>
      <div class="row">
          <div class="col-lg-12">
              <p>Copyright &copy;  Ivana Stanković 1946</p>
          </div>
      </div>
  </footer>

</div>
<!-- /.container -->